{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %} Food Donation | Login {% endblock %}

{% block navigation %}
	<a href="{% url 'homePage' %}" class="btn btn-outline-dark" method = "post"><strong>Home</strong></a>
{% endblock %}

{% block content %}
 <h2> <kbd> Login </kbd> </h2>
 <div class = "container-fluid" style="border:1px solid #36160F;">
 <form method = "post">
	 {% csrf_token %}
	 {{ form | crispy }}
	 <button type = "submit" class = "btn btn-outline-success"> Login </button>
 </form>
<div class = "row">
	<div class = "col-3">
<a href="{% url 'signup' %}" class="btn btn-outline-dark" method = "post"><small>New User? <strong> Register Here</strong></small> </a>
</div>
<div class = "col">
<a href="{% url 'password_reset' %}" class="btn btn-outline-dark" method = "post"><small><strong>Forgot Password?</strong></small> </a> <br> <br>

</div>
</div>
</div>
{% endblock %}