<!-- CANNOT CHANGE THE FILE NAME, django RECOGNISES following files automatically!! - 
password_reset, password_reset_done, password_reset_email, password_reset_form, password_reset_sent, password_reset_subject -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
	Password Reset
{% endblock %}

{% block navigation %}
	<div class = "nav-item active"> 
		<a class="nav-link" href="{% url 'notification' %}" >Notification</a>
	</div>

	<div class = "nav-item active">
		<a class="nav-link" href="{% url 'maps' %}" class="nav-link">
			{% if user.donor == True %}  Donate   {% else %}  Request 
			{% endif %}
		</a>
		</div>
		<div class = "nav-item active">
				<a href="{% url 'edit_profile' %}" class="nav-link"> Update Profile </a>	
		</div>
		<div class = "nav-item active">
			<a href = "{% url 'contact' %}" class = 'nav-link'> Contact Us </a>
		</div>

		<div class = "nav-item active">
			<a href="{% url 'logout' %}" class="nav-link">Logout</a>
		</div>

	<div class = "nav-item active"> 
		<a class="nav-link" href="{% url 'homePage' %}" >To the Home Page</a>
	</div>
	<!-- <form method = "post" action = "{% url 'homePage' %}">
		{% csrf_token %}
		<button type = "submit" class = "btn btn-outline-light navbar-btn">  To the Home Page  </button>
	</form> -->
{% endblock %}

{% block content %}
<div class="container my-2" style="border:2px solid #cecece;">
<h2 class="py-3" style="color: rgb(54, 111, 216); border-bottom:2px solid #cecece;"> Password Reset  </h2>
	<form method = "post">
		{% csrf_token %}
		{{ form | crispy }}
		<button type = "submit" class = "btn btn-outline-success"> Send Email </button>
	</form>

	<!-- ALERT -->
	<br> 
	<div class="alert alert-primary">
   		<strong> Enter the Email that you used to create the account. </strong>
        <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
  </div>
</div>
{% endblock %}