{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
	Password Reset
{% endblock %}

{% block navigation %}
	<form method = "post" action = "{% url 'homePage' %}">
		{% csrf_token %}
		<button type = "submit" class = "btn btn-outline-dark navbar-btn"> <strong> To the Home Page </strong> </button>
	</form>
{% endblock %}

{% block content %}
	<h3> <kbd> Password Reset </kbd> </h3>
	<form method = "post">
		{% csrf_token %}
		{{ form | crispy }}
		<button type = "submit" class = "btn btn-outline-success"> Send Email </button>
	</form>

	<!-- ALERT -->
	<br> 
	<div class="alert alert-primary">
   		<strong> Enter the Email that you used to create the account. </strong>
        <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
  </div>
{% endblock %}