{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
	Email Sent!
{% endblock %}
{% block navigation %}
<div class = "col">
		<form method = "post" action = "{% url 'homePage' %}">
		{% csrf_token %}
		<button class="btn btn-outline-dark" style="font-size:22px"><i class="fa fa-home"> Home</i></button>
	</form>
</div>
{% endblock %}

{% block content %}
	<h5> <kbd> Email Sent Successfully!! </kbd> </h5>
	<p> Check you email for the password reset link. </p>
	Thank You. :)
{% endblock %}