<h1> hello </h1>
{% if user.is_authenticated %}
<h1> {{user.username}} </h1>
<p> logout? </p>
<form method = 'get' action = "{% url 'logout' %}">
	{% csrf_token %}
	<input type = 'submit' value = 'logout'>
</form> 
{% else %}
<p> Since you are not logged in, redirect to the login page? </p>
<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<input type = "submit" value = "login">
</form> 
<br> <br>
<p> new account? login? </p>
<form method = "get" action = "{% url 'register' %}">
	{% csrf_token %}
	<input type = 'submit' value = 'register'>
</form>
{% endif %}