
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %} Update Profile {% endblock %}

{% block content %}
<h2> <kbd> Update Profile </kbd> </h2>

<form method = "post">
	{%csrf_token%}
	{{ form | crispy }}
	<button type = "submit" class = "btn btn-outline-success"> Update </button>
</form>

<form method = "post" action = "{% url 'homePage' %}">
		{% csrf_token %}
		<button type = "submit" class = "btn btn-success"> To the Home Page </button>
	</form>

{% endblock %}