{% extends 'base_with_home.html' %}
{% load crispy_forms_tags %}
		
{% block title %} 

{% if user.is_authenticated %}
{{ user.username }} / Home 
{% else %}
 Food Donation / Home 
 {% endif %}

{% endblock %}



{% block navigation %}
	<div class = "row">
	{% if user.is_authenticated %}
	<!-- whichever user is currently logged in, it will be transerferred to any link the user clicks, i.e. if the user clicks home.html, user object will automatically be transferred to the page. -->
			
		
		{% if user.user_type == 0 %}
		<div class = "col">
			<form method="post" action = "{% url 'notification' %}">
				{%csrf_token %}

				<!-- IF ANY NEW REQUESTS -  -->
				<button class="btn btn-outline-dark" style="font-size:22px"><i class="fa fa-wpforms"> Messages
					<!-- {% if user.is_authenticated %}
					<span class="badge">{{message}}
						{% endif %} -->
					</span></i></button>
				<!-- IF NO NEW REQUESTS - -->
				<!-- <button class = 'btn btn-success'><i class="material-icons" style="font-size:30px;color:darkgreen">event_busy</i></button> -->
			</form>
		</div>

		<div class = "col">
			<form method = "post" action = "{% url 'maps' %}"> {% csrf_token %}
				<button class = "btn btn-outline-dark"> map </button>
			</form>
		</div>

		{% endif %}

			<div class = "col">
				<form method = "get" action = "{% url 'edit_profile' %}">
					<!-- <strong> Update Profile</strong> -->

					<button type = "submit" class = "btn btn-outline-dark navbar-btn"> <strong> Update Profile </strong></button>
				</form>
			</div>

			{% if user.user_type == 1 %}
			<div class = "col">
				<form method = "post" action = "{% url 'showNearbyDonors' %}"> {%csrf_token%}
					<button type = "submit" class = "btn btn-outline-dark navbar-btn"><strong> Request </strong> </button>
				</form>
			</div>
			{% endif %}
			<div class = "col">
				<form method = "post" action = "{% url 'logout' %}">
					{% csrf_token %}
					<!-- <button type = "submit" class = "btn btn-outline-dark navbar-btn"> <strong> Logout</strong> </button> -->
					<button type = "submit" class = "btn btn-outline-dark"><strong> Logout </button>
				</form>
			</div>
	{% else %}
		<form method = "post" action = "{% url 'login' %}">
			{% csrf_token %}
			<button class = "btn btn-outline-dark navbar-btn" type = "submit"><strong>  Login </strong> </button>
			<button class = "btn btn-outline-dark navbar-btn" type = "submit" formaction="{% url 'signup' %}"><strong> Sign Up</strong> </button>
		</form>


				
		{% endif %}

				</div>
{% endblock %}

{% block content %}

	<h1> FOOD DONATION WEBSITE </h1>

<div class = "container-fluid" style="border:2px solid #36160F;">
	{% if user.is_authenticated %}

			Hello <kbd> {{ user.username }}</kbd>
		 <br> Your given information - <br> <hr>
		 <!-- <div class = "container-fluid" style="border:1px solid #36160F;"> -->
		 	{% if user.user_type == 0 %}
				You are a "Donor"<br>
				Food Packets available for - <strong> {{ user.resources }} </strong> People.<br>
			{% else %}
				You are a "Reciever"<br>
				Food Packets Required for - <strong> {{user.resources}} </strong> People.<br>
			{% endif %}

			Locality: {{ user.locality }} <br>
			City: {{ user.city }} <br>
			Pin-Code: {{ user.pin_code }} <br>
			Contact: {{ user.contact_no }} <br> <hr>
</div>
<!-- TRYING ALERT!!! -->
<br>

      <div class="alert alert-primary alert-dismissible fade show">
    Please change the location on profile if logging in from a different location!! <br> 
          Edit location here - <strong> <a href = "{% url 'edit_profile' %}"> edit </a> </strong> or located on the navigation bar as <u>Update Profile </u>!
       <button type = "button" class = "close" data-dismiss = "alert" aria-hidden="true">&times;</button>
        
        <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
  </div>
<br> 
			
	{% else %}
	<br>
	<div class = "container-fluid">
		<h4> <kbd> You are not logged in! </kbd><br> <br>  </h4>
	</div>
	{% endif %}

		

{% endblock %}


