{% extends 'base_with_home.html' %}
{% load crispy_forms_tags %}
		
{% block title %} Home Page {% endblock %}



{% block navigation %}
	<div class = "row">
	{% if user.is_authenticated %}
			


			<div class = "col">
				<form method = "get" action = "{% url 'edit_profile' %}">
					<button type = "submit" class = "btn btn-outline-dark navbar-btn"> <strong> Edit Profile</strong></button>
				</form>
			</div>

			{% if user.user_type == 1 %}
			<div class = "col">
				<form method = "post" action = "{% url 'showNearbyDonors' %}"> {%csrf_token%}
					<button type = "submit" class = "btn btn-outline-dark navbar-btn"><strong> Nearby Donors </strong> </button>
				</form>
			</div>
			{% endif %}
			<div class = "col">
				<form method = "post" action = "{% url 'logout' %}">
					{% csrf_token %}
					<button type = "submit" class = "btn btn-outline-dark navbar-btn"> <strong> Logout</strong></button>
				</form>
			</div>
	{% else %}
		<form method = "post" action = "{% url 'login' %}">
			{% csrf_token %}
			<button class = "btn btn-outline-dark navbar-btn" type = "submit"><strong>  Login </strong> </button>
			<button class = "btn btn-outline-dark navbar-btn" type = "submit" formaction="{% url 'signup' %}"><strong> Sign Up</strong> </button>
		</form>
				
		{% endif %}


				</div>
{% endblock %}

{% block content %}

	<h1> FOOD DONATION WEBSITE </h1>

<div class = "container-fluid" style="border:2px solid #36160F;">
	{% if user.is_authenticated %}

			Hello <kbd> {{ user.username }} </kbd>
		 <br> Your given information - <br> <hr>
		 <!-- <div class = "container-fluid" style="border:1px solid #36160F;"> -->
		 	{% if user.user_type == 0 %}
				You are a "Donor"<br>
				Food Packets available for - {{ user.resources }} People.<br>
			{% else %}
				You are a "Reciever"<br>
				Food Packets Required for - {{user.resources}} People.<br>
			{% endif %}

			Locality: {{ user.locality }} <br>
			City: {{ user.city }} <br>
			Pin-Code: {{ user.pin_code }} <br>
			Contact: {{ user.contact_no }} <br> <hr>
</div>
<!-- TRYING ALERT!!! -->
<br>

      <div class="alert alert-danger alert-dismissible fade show">
   <strong> please change the location on profile if logging in from a different location!! <br> 
          Edit location here - <a href = "{% url 'edit_profile' %}"> edit </a> or located on the navigation bar as <u>Edit Profile </u>!
        </strong>
        <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
  </div>
<br> 
			
	{% else %}
	<br>
	<div class = "container-fluid">
		<h4> <kbd> You are not logged in! </kbd><br> <br>  </h4>
	</div>
	{% endif %}

		

{% endblock %}


