<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Locate the user</title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v0.min.js"></script>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
<style>
    #mapid {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
    .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

    }
</style>
</head>
<body>
 <h1>Nearby Receiver</h1>
        {% if users %}
        <ul>
        {% for i in users %}
            <li>
            {{ i }}
            </li>
        {% endfor %}
        </ul>
        {% endif %}
 <div class="map-responsive">
 <div id="mapid"></div>
 </div>

<script>
   navigator.geolocation.getCurrentPosition(function(location) {
  var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);

  var mymap = L.map('mapid').setView(latlng, 15)
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://mapbox.com">Mapbox</a>',
    maxZoom: 19,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiYmJyb29rMTU0IiwiYSI6ImNpcXN3dnJrdDAwMGNmd250bjhvZXpnbWsifQ.Nf9Zkfchos577IanoKMoYQ'
  }).addTo(mymap);

  var marker = L.circleMarker(latlng).addTo(mymap);
   mark1=[];
            mark2=[];
            var j=0,k=0;
            {% for i in lat %}
                mark1[j]={{ i }};
                j++;
            {% endfor %}
             {% for i in lang %}
                mark2[k]={{ i }};
                k++;
            {% endfor %}
            //document.getElementById("mapid").innerHTML = k;

            for(var m=0;m<mark1.length;m++) {
                var circle = L.marker([mark1[m],mark2[m]], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 1.5,
                    radius: 50
                }).addTo(mymap);
            }

});
</script>

</body>
</html>