{% extends 'base_with_home.html' %}
{% load crispy_forms_tags %}
{% block title %} {{user.username}} | Messages {% endblock %}

{% block navigation %}
<!-- <div class = "row"> -->
	<!-- <div class = "col">
		<a href="{% url 'homePage' %}" class="btn btn-outline-dark"><strong>Homehii</strong></a>
	</div> -->
	<div class = "nav-item active"> 
		<a class="nav-link" href="{% url 'notification' %}" >Notification</a>
	</div>

	 <div class = "nav-item active">
		  <a class="nav-link" href="{% url 'maps' %}" class="nav-link">
			  {% if user.donor == True %}  Donate   {% else %}  Request 
			  {% endif %}
		  </a>
		</div>
		<div class = "nav-item active">
				<a href="{% url 'edit_profile' %}" class="nav-link"> Update Profile </a>	
		</div>
		<div class = "nav-item active">
			<a href = "{% url 'contact' %}" class = 'nav-link'> Contact Us </a>
		</div>

		<div class = "nav-item active">
			<a href="{% url 'logout' %}" class="nav-link">Logout</a>
		</div>
	<!-- <div class = "col">
		<form method = "get" action = "{% url 'edit_profile' %}">
					<button type = "submit" class = "btn btn-outline-dark navbar-btn"> <strong> Update Profile </strong></button>
		</form>
	</div> -->
</div>
{% endblock %}

{% block content %}
	<table class = "table">
			<thead>
				<tr>
 					<th scope="col">  Username  </th>
 					<th scope="col"> Location </th>
 					<th scope="col"> Contact No. </th>
					<th scope="col">  Message  </th>
					<th scope = "col">Status </th>
					<th scope="col"> Action </th>
				</tr>
			</thead>
			<tbody>
		{% for i in messages %}
			<tr>
				<th scope="row">{{ i.sender.username }}</th>
				<th scope="row">{{ i.sender.locality }}, {{ i.sender.city }} </th>
				<th scope="row">{{ i.sender.contact_no }} </th>
				<th scope="row"> <small> <strong> {{ i.message }} </strong> </small></th>
				<th scope = "row">
					{% if i.read_unread == False %}
						Unread
					{% else %}
						Read
					{% endif %}
				</th>
				<th scope = "row"> 
					<div class = "row">
						<div class = "col">
							<a href="{% url 'deleteNotification' i.pk %}" class="btn btn-danger"> <i class="material-icons" style="font-size:15px">eject</i><small> Delete Message</small></a>
						</div>
						<div class = "col">
							<a href="{% url 'readMessage' i.pk %}" class="btn btn-info"> <i class="material-icons" style="font-size:15px">offline_pin</i><small> Mark Read </small></a>
						</div>
					</div>
				</th>	
			</tr>
		{% endfor %}
	
{% endblock %}