{% extends 'base.html' %}
{% load static %}
{% block title %} Password Update {% endblock %}

{% block content %}

<h3> <kbd> Password Change form </kbd></h3>
<p> under construction .. </p>
<form method = "post" action = "{% url 'logout' %}">
	{% csrf_token %}
	<button type = "submit" class = "btn btn-outline-danger"> Logout </button>
</form>

<form method = "post" action = "{% url 'homePage' %}">
		{% csrf_token %}
		<button type = "submit" class = "btn btn-success"> To the Home Page </button>
	</form>
{% endblock %}