{% extends 'base.html' %}
{% block title %} {{ user.username }} | Nearby Recievers {% endblock %}
{% block navigation %}
	<div class = "col-1">
		<a href="{% url 'homePage' %}" class="btn btn-outline-dark"  method = "post"><strong>Home</strong></a>
	</div>
	<div class = "col-1">
		<a href="{% url 'edit_profile' %}" class="btn btn-outline-dark"><strong>Update</strong></a>
	</div>
{% endblock %}

{% block content %}
	<h5> Your location is - <kbd> {{ you.locality }}, {{ you.city }} </kbd> </h5> <br>
	<h6> <strong> You have resources for - <kbd> {{ you.resources }}</kbd> people.</strong></h6>

	<p> People/Organisations who need Food in <strong> {{ you.city }} </strong> </p>
	<table class = "table">
			<thead>
				<tr>
					<th scope="col"> Person/Organisation </th>
					<th scope="col"> Location </th>
					<th scope ="col"> Contact No. </th>
					<th scope="col"> Required Food for </th>
					<th scope ="col"> Donate Link </th>
				</tr>
			</thead>
			<tbody>
	{% for i in donors %}
		{% if i.username != 'admin' and i.donor == False and i.resources > 0 %}
				<tr>
				<th scope="row"> {{ i.username }}  </th>
				<th scope="row"> {{ i.locality }}, {{ i.city }} </th>
				<th scope = "row"> {{ i.contact_no }} </th>
				<th scope="row"> {{ i.resources }} People </th>
				<th scope="row"> 
					<a href="{% url 'donation_done' i.email %}" class="btn btn-outline-dark"  method = "post"><strong>Donate</strong></a>
				</th>
			</tr>
		{% endif %}
	
	{% endfor %}
	</tbody>
			</table>
	<br> <br> 
{% endblock %}