{% extends 'base.html' %}
{% block title %} {{ user.username }} | Nearby Donors {% endblock %}

{% block navigation %}
	<div class = "row">
		<div class = "col">
			<a href="{% url 'edit_profile' %}" class="btn btn-outline-dark" method = "get"><strong>Update Profile</strong></a>
		</div>
		<div class = "col">
			<a href="{% url 'homePage' %}" class="btn btn-outline-dark" method = "post"><strong>Home</strong></a>
		</div>
	</div>
{% endblock %}

{% block content %}
	<h5> Your location is - <kbd> {{ you.locality }}, {{ you.city }} </kbd> </h5> <br>
	<h6> <strong> Requirements for - <kbd> {{ you.resources }}</kbd> people.</strong></h6>


	<p> Donors in  <strong> {{ you.city }}</strong> with your available requirements -  </p>
	<table class = "table">
			<thead>
				<tr>
					<th scope="col"> Person/Organisation </th>
					<th scope="col"> Location </th>
					<th scope="col"> Resources available </th>
					<th scope ="col"> Request Link </th>
				</tr>
			</thead>
			<tbody>
	{% for i in donors %}
		{% if i.username != 'admin' and i.donor == True and i.resources > 0%}
				<tr>
					<th scope="row"> {{ i.username }}  </th>
					<th scope="row"> {{ i.locality }}, {{ i.city }} </th>
					<th scope="row"> {{ i.resources }} </th>
					<th scope="row"> 
			<a href="{% url 'update_requirements' i.email %}" class="btn btn-outline-info" method = "get"><strong>Request</strong></a>
					</th>
				</tr>
		{% endif %}
	
	{% endfor %}
	</tbody>
			</table>
	<br> <br> 
{% endblock %}
