{% extends 'base.html' %}
{% block title %} Nearby Donors {% endblock %}


{% block navigation %}
	<div class = "row">
		<div class = "col">
			<form method = "get" action = "{% url 'edit_profile' %}">
				{% csrf_token %}
				<button type = "submit" class = "btn btn-outline-dark navbar-btn"> <strong> Update Your Account </strong></button>
			</form>
		</div>
		<div class = "col-4">
	<form method = "post" action = "{% url 'homePage' %}">
		{% csrf_token %}
		<button type = "submit" class = "btn btn-outline-dark navbar-btn"> <strong>Home </strong></button>
	</form>
</div>
	</div>
{% endblock %}

{% block content %}

	<!-- SOME OBJECTS ARE SENT AS A PARAMETER - SEE customUser/views.py -->

	<h5> Your location is - <kbd> {{ you.locality }}, {{ you.city }} </kbd> </h5> <br>
	<h6> <strong> Requirements for - <kbd> {{ you.resources }}</kbd> people.</strong></h6>


	<p> Donors in your <strong> City </strong> with your available requirements -  </p>
	<table class = "table">
			<thead>
				<tr>
					<th scope="col"> Person/Organisation </th>
					<th scope="col"> Location </th>
					<th scope="col"> Resources available </th>
					<th scope ="col"> Request Link </th>
				</tr>
			</thead>
			<tbody>
	{% for i in donors %}
		{% if i.username != 'admin' and i.user_type == 0 and i.resources > 0%}
		<!-- CREATING TABLE  -->

				<tr>
				<th scope="row"> {{ i.username }}  </th>
				<th scope="row"> {{ i.locality }} </th>
				<th scope="row"> {{ i.resources }} </th>
				<th scope="row"> 
					<!-- HERE>> PARAMETER PASSED - email id. of the donor, since email is UNIQUE (defined in customUser/models.py), used as primary key to find out the user. -->
					<form method = "get" action = "{% url 'update_requirements' i.email %}"> {% csrf_token %}
						<button class = "btn btn-outline-primary"> Request </button>
					</form>
				</th>
			</tr>
			


		<!-- <li> {{ i.username }} [available - {{i.resources}}]</li> -->
		{% endif %}
	
	{% endfor %}
	</tbody>
			</table>
	<br> <br> 

	<!--  MAPS TRY!!! 
	<div id='map' style='width: 400px; height: 300px;'></div>
	<script>
		mapboxgl.accessToken = 'pk.eyJ1IjoiYWRpdHlhbmF2cGh1bGUiLCJhIjoiY2tjOHB4c2h4MDUxNTJybGtldDdmMHZscyJ9.EPRqCAsAVwUFTncfyoCr9w';
		var map = new mapboxgl.Map({
							container: 'map',
							style: 'mapbox://styles/mapbox/streets-v11',
							"center": [24.9345886, 75.5883278],
							"cursor_style": 'pointer',
            "marker_color": "red",
            "rotate": False,
            "geocoder": True,
            "fullscreen_button": True,
            "navigation_buttons": True,
            "track_location_button": True,
            "readonly": True,
            "placeholder": "Pick a location on map below",
						});
	</script> -->
{% endblock %}

<!-- MAPS TRY!!! -->