{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Food Donation | Registration {% endblock %}

{% block navigation %}
	<a href="{% url 'homePage' %}" class="btn btn-outline-dark" method = "post"><strong>Home</strong></a>
{% endblock %}

{% block content %}
<div class="container my-2" style="border:2px solid #cecece;">
<h2 class="py-3" style="color: rgb(54, 111, 216); border-bottom:2px solid #cecece;"> Sign Up  </h2>
<div class = "alert alert-primary alert-dismissible fade show">
        Note :  By default the user will be a <strong> RECEIVER</strong>, select accordingly.
  </div>
<div class = "container-fluid">
	<!-- style="border:1px solid #36160F;" -->
	<!-- <p> <strong> <u>  ** user_type field has two options only -> 0 for Donor and 1 for receiver <br> 
		** can login as an organisation, fill accordingly. </u></strong>
	</p> -->
	<form method = "post">
		{% csrf_token %}
		<!-- FIRST ROW -->
		<div class = "row">
			<div class = "col-4"> <!-- col-value - shows how many column space the input string(here, username) is taking -->
				{{ form.username | as_crispy_field }}
			</div>
			<div class = "col-4">
				{{ form.email | as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class = "col">
				{{form.organisation | as_crispy_field}}
			</div>
			<div class = "col">
				{{form.donor | as_crispy_field}}
			</div>
		</div>

		<!-- SECOND ROW  -->
		<div class = "row">
			<div class = "col-3">
				{{form.resources | as_crispy_field}}
			</div>
			<div class = "col">
				{{form.locality | as_crispy_field}}
			</div>
			<div class = "col">
				{{form.city | as_crispy_field}}
			</div>
			<div class = "col-3">
				{{ form.state | as_crispy_field}}
			</div>
		</div>

		<!-- THIRD ROW  -->
		<div class = "row">
			<div class = "col">
				{{form.pin_code | as_crispy_field}}
			</div>
			<div class = "col">
				{{form.contact_no | as_crispy_field}}
			</div>
		</div>
		<!-- FOURTH ROW -->
		<div class = "row">
			<div class = "col">
				{{form.password1 | as_crispy_field}}
			</div>
			<div class = "col">
				{{form.password2 | as_crispy_field}}
			</div>
		</div>
	</div>
	<button type = "submit" class = "btn btn-success mb-3"> Sign Up </button>
</form>
<a href="{% url 'login' %}" class="btn btn-outline-dark mb-3"> <small> Already have an account? -</small> <strong> Login </strong> </a>
<!-- <br> <br> -->
</div>
{% endblock %}